<section class="login row justify-content-center">
        <!-- login form -->
        <div class="col me-4 d-flex justify-content-end">
          <div class="login-form mt-5">
            <h4 class="text-center">Login</h4>
            <form class="login-form border border-dark rounded-2 p-3">
              <div class="mb-3">
                <label for="email-login" class="form-label">Email address</label>
                <input
                  type="email"
                  class="form-control"
                  id="email-login"
                  aria-describedby="email-help"
                />
                <div id="email-help" class="form-text">
                  We'll never share your email with anyone else.
                </div>
              </div>
              <div class="mb-3">
                <label for="password-login" class="form-label">Password</label>
                <input type="password" class="form-control" id="password-login" />
              </div>
              <div class="d-grid col-4 mx-auto">
                <button type="submit" class="btn btn-outline-dark">
                  Login
                </button>
              </div>
            </form>
          </div>
        </div>

        <!-- signup form -->
        <div class="col border-start ps-4">
          <h2 class="ms-2">Don't have an account? Sign up!</h2>
          <div class="signup-form mt-5">
            <h4 class="text-center">Signup</h4>
            <form class="signup-form border border-dark rounded-2 p-3">
              <div class="mb-3">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" />
              </div>
              <div class="mb-3">
                <label for="email-signup" class="form-label"
                  >Email address</label
                >
                <input
                  type="email"
                  class="form-control"
                  id="email-signup"
                  aria-describedby="email-help"
                />
                <div id="email-help" class="form-text">
                  We'll never share your email with anyone else.
                </div>
              </div>
              <div class="mb-3">
                <label for="password-signup" class="form-label"
                  >Password</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="password-signup"
                  aria-describedby="password-help"
                />
                <div id="password-help" class="form-text">
                  Password must be at least 8 characters long.
                </div>
              </div>
              <div class="d-grid col-4 mx-auto">
                <button type="submit" class="btn btn-outline-dark">
                  Signup
                </button>
              </div>
            </form>
          </div>
        </div>
      </section>

      <script src="../public/js/login.js"></script>